
/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

* {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box; 
}

*:before,
*:after { box-sizing: inherit; }

/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('fonts/Raleway-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('fonts/Raleway-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Light.woff2') format('woff2'),
        url('fonts/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Bold.woff2') format('woff2'),
        url('fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Medium.woff2') format('woff2'),
        url('fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body {
	font-size: 16px;
	line-height: 1.2;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #585b5e;
	background-color: #fff;
}

:where(h1, h2, h3) {
	font-family: 'Raleway', sans-serif;
}

.btn:where(:before, :after) {
	content: '';
	position: absolute;  
}

h1 {
	font-size: 32px;
	line-height: 1.2;
}

h2 {
	font-size: 30px;
	line-height: 1.2;
}

h3 {
	font-size: 25px;
	line-height: 1.2;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

h4 {
	font-size: 20px;
	line-height: 1.2;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

h5 {
	font-size: 16px;
	line-height: 1.2;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

h6 {
	font-size: 14px;
	line-height: 1.2;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

a {
	color: inherit;
}

/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

.shell {
	max-width: 1875px;
	padding: 0 10px;
	margin: 0 auto;
}

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	position: relative;
}

.header__bar {
	background-color: #000000;
	font-size: 15px;
	color: #fff;
	padding:28px 2px 22px 0px;
}

.header__bar-inner {
	display: flex;
	justify-content: end;
	gap: 0 77px;
}

.header__inner {
	display: flex;
	position: relative;
}

.header__inner:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(36 32 32 / 15%);

}

.header__nav-left {
	flex: 0 0 50%;
	background-color: #fff;
	padding: 36px 0 45px;
}

.header__nav-left-inner {
	max-width: 920px;
	margin-left: auto;
	position: relative;
	padding: 0 152px 0 15px;
}

.header__nav-right {
	flex:0 0 50%;
	background-color: #115068;
	padding: 13px 41px 10px 65px;
	display: flex;
	justify-content: space-between;
}

/* ------------------------------------------------------------ *\
	Logo-container
\* ------------------------------------------------------------ */

.logo-container {
	display: flex;
	align-items: center;
}

.logo-container .company-name {
	font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1em;
	margin: -10px 0 0 8px;
}

/* ------------------------------------------------------------ *\
	Btn-container
\* ------------------------------------------------------------ */

.btn-container {
	padding-top: 5px;
	margin-right: -23px;
}

.btn-container .btn:not(:last-child) {
	margin-right: 4px;
	
}

/* ------------------------------------------------------------ *\
	contacts
\* ------------------------------------------------------------ */

.contacts {
	list-style-type: none;
	display: flex;
	gap: 44px;
}

.contacts .light {
	font-size: 16px;
	font-weight: 300;
}

.contacts .adjsut {
	margin-left: -25px;
}

/* ------------------------------------------------------------ *\
	Socials-icons
\* ------------------------------------------------------------ */

.social-icons {
	list-style-type: none;
    display: flex;
    gap: 0 34px;
    align-items: baseline;
}

/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	position: absolute;
    top: 50%;
    left: -14px;
    transform: translateY(-50%);
    margin-top: -20px;
    z-index: 10;
}

/* ------------------------------------------------------------ *\
	Logo-small
\* ------------------------------------------------------------ */

.logo-small img {
	z-index: 10;
}

/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav {
	font-size: 14px;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.nav ul {
    display: flex;
    list-style-type: none;
    gap: 46px;
    letter-spacing: 0.104em;
    justify-content: end;
}

.nav a {
	text-decoration: none;
}

/* ------------------------------------------------------------ *\
	Reqest-container
\* ------------------------------------------------------------ */

.request-container {
	position: absolute;
	top: 50%;
	left: 71px;
	transform: translateY(-50%);
	margin-top: -14px;
}

/* ------------------------------------------------------------ *\
	Btn
\* ------------------------------------------------------------ */

.btn {
	display: inline-block;
	text-decoration: none;
	border: none;
	text-align: center;
	transition: color .3s,background-color .3s ease-in-out;
	text-transform: uppercase;
	color: #fff;
	background-color: #007f9d;
	font-size: 12px;
	line-height: 1.2;
	font-family: 'Montserrat', sans-serif;
	min-width: 206px;
	padding: 24px 5px 27px 8px;
    letter-spacing: 0.12em;
    margin-top: -3px;
    position: relative;
    z-index: 1;
}

.btn--border {
	min-width: 224px;
	border: 1px solid #fff;
	background-color: #115068;
	padding: 23px 5px 27px 11px;
	letter-spacing: 0.12em;
}

.btn--request {
	width: 155px;
	height: 155px;
	border: 4px solid #9fb73b;
	border-radius: 100%;
	font-size: 29px;
	background-color: transparent;
	min-width: 155px;
	text-transform: none;
	padding: 0;
	letter-spacing: 0;
}

.btn--request:after {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid;
	border-color: #fff #fff transparent transparent;
	position: absolute;
	top: 50%;
	right: -29px;
	margin-top: -8px;
	transform: rotate(45deg);
}

.btn--request .adjust {
	display: block;
	margin-bottom: -4px;
	padding-top: 45px;
}

/* ------------------------------------------------------------ *\
	Hero
\* ------------------------------------------------------------ */

.hero {
	border-bottom: 4px solid #9fb73b;
}

.hero__inner {
	display: flex;
}

.hero__left,
.hero__right {
	flex: 0 0 50%;
	position: relative;
	min-height: 649px;
}

.hero__left-img,
.hero__right-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero__content {
	position: absolute;
	top: 50%;
	right: 21.6%;
	transform: translateY(-50%);
	margin-top: -31px;
	color: #000;
	list-style-type: none;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -0.02em;
	max-width: 470px;
}

.hero__content h1 {
	font-size: 61px;
	font-weight: 300;
	line-height: 1.1;
}

.hero__content em {
	font-size: 33px;
	font-weight: 300;
	text-transform: none;
}

.hero__content .green {
	color: #9fb73b;
	font-weight: 700;
	font-size: 62px;
}

.hero__content strong {
	font-size: 62px;
	margin-top: -15px;
}

/* ------------------------------------------------------------ *\
	Office-section
\* ------------------------------------------------------------ */

.office-section__list {
	display: flex;
}

/* ------------------------------------------------------------ *\
	office-box
\* ------------------------------------------------------------ */

.office-box {
	display: flex;
	padding :57px 10px 58px 61px;
	align-items: center;
	flex: 1;
	margin-left: -28px;
    justify-content: center;
}

.office-box .office-box__content {
	font-weight: 300;
}

.office-box .office-box__figure {
	margin: 0 37px -15px 0;
}
.office-box h6 {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
}

.office-box h6 {
	margin-bottom: 15px;
}

.office-box ul {
	list-style-type: none;
	text-transform: capitalize;
}

.office-box li ~ li {
	margin-top: 7px;
}

.office-box--grey {
	 background-color: #e8e8e8;
	flex: 0 0 32.8%;
	padding: 57px 30px 58px 68px;
}

/* ------------------------------------------------------------ *\
	Column-count
\* ------------------------------------------------------------ */

.column-count {
	column-count: 2;
}

/* ------------------------------------------------------------ *\
	Section-blue
\* ------------------------------------------------------------ */

.section-blue {
	padding: 29px 0;
	text-align: center;
	background-color: #007f9d;
	font-style: italic;
	color: #fff;
	letter-spacing: -0.004em;
}

.section-blue .section-blue__content {
	max-width: 974px;
	margin: 0 auto;
}

.section-blue--adjust {
	font-size: 20px;
	font-family: 'Myriad Pro', sans-serif;
	margin-bottom: 50px;
	padding: 72px 0 52px;
	font-style: normal;
	letter-spacing: 0.00em;
	line-height: 1.66;

}

/* ------------------------------------------------------------ *\
	Section-white
\* ------------------------------------------------------------ */

.section-white {
	padding: 100px 0;
}

.section-white .section-white__content {
	max-width: 1012px;
	margin: 0 auto;
	text-align: center;
	line-height: 1.69;
}

 .section-white .section-white__head {
	color: #000;
	max-width: 720px;
	margin: 0 auto 50px auto;
}

 .section-white h3 {
	color: #000;
	margin-bottom: 38px;
	letter-spacing: 0.007em;
	font-style: italic;
}

.section-white h3 a {
	text-decoration: none;
	color: #115068;
}

.section-white--adjust {
	padding: 81px 0 132px;
	border-bottom: 4px solid #9fb73b;
}

 .section-white--adjust .section-white__head {
 	margin-bottom: 47px;
 }

 .section-white--adjust .section-white__content {
 	letter-spacing: -0.002em;
 	max-width: 942px;
 }

.section-white--adjust h2 {
	letter-spacing: 0.03em;
	line-height: 1.37;
}

/* ------------------------------------------------------------ *\
	section-grey
\* ------------------------------------------------------------ */

.section-grey {
	background-color: #ebeded;
	padding: 97px 0 84px;
}

.section-grey__inner {
	padding: 0 188px 0 262px;
}

.section-grey__content {
	padding-top: 60px;
}

.section-grey__content-link {
	text-transform: uppercase;
	color: #007f9d;
	margin-bottom: 13px;
	text-decoration: none;
	display: block;
	letter-spacing: 0.09em;
}

 .section-grey__content-heading {
	text-transform: capitalize;
	color: #000;
	max-width: 400px;
	margin-bottom: 53px;
}

 .section-grey__content-heading h1 {
	line-height: 1.3;
}

.section-grey__content-body {
	max-width: 595px;
	line-height: 1.75;
}

.section-grey__content p ~ p {
	margin-top: 27px;
}

/* ------------------------------------------------------------ *\
	Cols
\* ------------------------------------------------------------ */

.cols {
	display: flex;
	margin: 0 -90px;
}

/* ------------------------------------------------------------ *\
	Col
\* ------------------------------------------------------------ */

.col {
	padding: 0 90px;
}

.col--1of2 {
	flex: 0 0 50%;
}

.col--adjust {
	padding-top: 60px;
}

/* ------------------------------------------------------------ *\
	Card
\* ------------------------------------------------------------ */

.card {
	padding-right: 18px;
}

.card .card__info {
	position: relative;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.card .card__info-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	padding-top: 144px;
	transform: translate(-50%,-50%);
	width: 372px;
	line-height: 1.46;
	letter-spacing: -0.008em;
}

.card .blue {
	color: #007f9d;
	font-weight: 600;
}

.card__brands {
	background-color: #d0d1d3;
	display: flex;
	list-style-type: none;
	margin-top: -4px;
	padding: 27px 10px 23px 57px;
	gap: 34px;
	align-items: center
}

.card__bottom {
	position: relative;
	color: #fff;
}

.card__bottom-info {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-top: -51px;
	max-width: 225px;
	right: 35px;
	text-align: right;
	line-height: 1.4;
}

/* ------------------------------------------------------------ *\
	Action
\* ------------------------------------------------------------ */

.action {
	position: relative;
	color: #fff;
	margin-bottom: 100px;
	background-color: #007f9d;
	padding: 100px 0 65px;

}

.action img {
	position: absolute;
	top: 0;
	left: 0;
	width: 56.8%;
	height: 100%;
	object-fit: cover;

}

.action__content {
	width: 43.2%;
	margin-left: auto;
}

.action__content-inner {
	max-width: 541px;
	padding-left: 113px;
	line-height: 1.75;
}

.action__content-inner h1 {
	text-transform: capitalize;
	line-height: 1.34;
	margin-bottom: 46px;
}

.action__content-inner .adjust {
	margin-bottom: 38px;
}

.action__content-foot {
	letter-spacing: -0.02em;
	max-width: 331px;
}

/* ------------------------------------------------------------ *\
	Service
\* ------------------------------------------------------------ */

.service {
	padding: 50px 0 50px;
	color: #6e6e6e;
	line-height: 1.7;
	margin-bottom: 72px;
}

.service__inner {
	padding: 0 202px 0 263px
}

.service__content {
	padding-right: 13px;
}

.service__content-head {
	color: #000;
	text-transform: capitalize;
	margin-bottom: 43px;
	max-width: 460px;
}

.service__content-head h1 {
	line-height: 1.35;
}

.service__content p:not(:last-child) {
	margin-bottom: 33px;
}

.service__content h5 {
	color: #343451;
	font-style: italic;
	font-weight: 500;
	margin-bottom: 56px;
	letter-spacing: -0.014em;
}

.service__labels {
	display: flex;
	list-style-type: none;
	margin-bottom: 59px;
}

.service__labels li ~ li {
	margin-left: 43px;
	position: relative;
}

.service__labels li ~ li:before {
	display: inline-block;
	content: '';
	background-color: #007f9d;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	position: absolute;
	top: 50%;
	left: -23px;
	transform: translateY(-50%);
}

.service__turns li {
	position: relative;
	list-style-type: none;
	margin-left: 8px;
}

.service__turns li:before {
	display: inline-block;
	content: '';
	background-color: #007f9d;
	width: 5px;
	height: 5px;
	border-radius: 100%;
	position: absolute;
	top: 50%;
	left: -10px;
	transform: translateY(-50%);
}

.service__content .blue {
	color: #343451;
	letter-spacing: -0.022em;
}

/* ------------------------------------------------------------ *\
	Card-layout
\* ------------------------------------------------------------ */

.card-layout {
	margin-top: -14px;
	box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.75);
}

.card-layout__top {
	min-height: 567px;
}

.card-layout__figure-small {
	width: 52.7%;
	aspect-ratio: 1.12;
	float: left;
}

.card-layout__figure-medium {
	float: left;
	width: 52.6%;
	margin-top: -8px;
	aspect-ratio: 1.1;
}

.card-layout__figure-large {
	width: 47.3%;
	aspect-ratio: 0.74;
	float: right;
}

:where(.card-layout__figure-small,
	.card-layout__figure-medium,
	.card-layout__figure-large) img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-layout__text {
	float: right;
	width: 47.3%;
	background-color: #83c559;
	padding: 44px 5px 62px 2px;;
	text-align: center;
	color: #fff;
	margin-top: -9px;
}

.card-layout__text .up {
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	letter-spacing: 0.08em;
	display: inline-block;
}

.card__layout-bottom {
	padding: 34px 63px 45px 69px
}

/* ------------------------------------------------------------ *\
	Logo-list
\* ------------------------------------------------------------ */

.logo-list {
	list-style-type: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 22px 113px;
}

/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer__inner {
	display: flex;
}

.footer__content {
	flex: 0 0 50%;
	padding: 82px 138px 0 10px;
	display: flex;
	justify-content: flex-end;
}

.footer__col--margin {
	margin-left: 61px;
}

.footer__logo {
	margin: -23px 0 35px -81px;
}

.footer__logo--margin {
	margin: 0px 0 46px -57px;
}

.footer__groups {
	display: flex;
	gap: 0 56px;
}

.footer__group {
	font-size: 15px;
}

.footer__group ul {
	list-style-type: none;
}

.footer__group .group-list {
	margin-bottom: 24px;
}

.footer__group ul li ~ li {
	margin-top: 4px;
}

.footer__group h5  {
	margin-bottom: 15px;
	color: #000;
}

.footer__group address {
	line-height: 1.5;
}

.footer__group .address-margin {
	display: inline-block;
	margin-bottom: 25px;
	line-height: 1.5;
}

.group-list-margin {
	margin-bottom: 20px;
}

.footer-aside {
	flex: 0 0 50%;
}
/* ------------------------------------------------------------ *\
	Blue
\* ------------------------------------------------------------ */

.blue {
	color: #115068;
}


